<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>ارایه مثال های معنایی توسط مراجعه </title>
</head>
<body
style="
 position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color:#ADD8E6;
        "
>

 ...می بوسد
 <br>
 سوال:

دیگر چه کسی می بوسد ؟
 <br>
تمرین ها :
 <br>
 تمرین اول:
 <br>
 جایگاه مناسب برای فعل ، کدام جای خالی است ؟
<br>
 <span style="color: deeppink">____</span>   <span style="color: gray">____</span>

<hr>
بدون کمک از بانک فاعل ، جا های  خالی را با فاعل های مناسب ، پر کنید

<br>
 _____ می بوسد
 <br>
 <br>
 _____ می بوسد
 <br>
 <br>
 _____ می بوسد
 <br>
 <br>
 _____ می بوسد
 <br>
 <br>
 _____ می بوسد
 <br>

 <hr>
جملات خود را بخوانید و بنویسید
<br>
<br>
نقش های معتایی برای فعل و فاعل را مشخص کنید
<br>
<br>
 <hr>
 جملات بهم ریخته با کمک بانک ، مرتب شود
 <br>
 فاعل + فعل
 {نیاز ب پنجره ی باک ک خطا داشت }
 {با کمک بانک : فعل و فاعل و تصویر}

{#اگر نادرست است ،درستش بگوید#}
<a href="{% url 'mafool_first_page' %}">
    رفتن به بخش مربوط به مفعول
</a>
</body>
</html>