<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title></title>
       <style>
           #drop-area {
               width: 300px;
               height: 30px;
               border: 2px dashed #ccc;
               display: flex;
               align-items: center;
               justify-content: center;
           }
           .draggable {
               padding: 10px;
               {#background-color: #007bff;#}
               color:#007bff ;
               cursor: grab;
           }
       </style>

</head>


<body
 style="
 position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color:#ADD8E6;
        "
>
    {% if photo %}
        <p>
         <img src="{{ photo.image.url }}" alt="Photo" style="max-width: 400px;">
        </p>
        <form action="{% url 'delete_photo_third_step_page_two'  %}" method="post">
            {% csrf_token %}
            <button type="submit">حذف عکس</button>
        </form>
    {% else %}
        <b>
        <p>عکسی وجود ندارد.</p>
        </b>
        <form action="{% url 'restore_photo_third_step_page_two' %}" method="post">
            {% csrf_token %}
            <button type="submit">بازگردانی عکس</button>
        </form>
    {% endif %}


    {% if post %}


            <b>
        <p>فعلی  وجود ندارد.</p>
        </b>
        <form action="{% url 'restore_post_third_step_page_two' %}" method="post">
            {% csrf_token %}
            <button type="submit">بازگردانی جمله </button>
        </form>


    {% else %}
مادر می بوسد
{#        بپرسم#}
        <b>
        <p>{{ post.subject }}{{ post.verb_simple_second_step }}</p>
        </b>
        <form action="{% url 'delete_post_third_step_page_two' %}" method="post">
            {% csrf_token %}
            <b>
            <button type="submit">حذف جمله  </button>
            </b>
        </form>
    {% endif %}

<br>
    <hr><b>
جایگاه فاعل را مشخص کن
        </b>
<br>
<br>
 <div class="draggable" draggable="true" id="draggable-item">
     {{ post.subject }}
 </div>
       <div id="drop-area">
{#           اینجا رها کنید#}
       {{ post.verb_simple_second_step }}+__
       </div>
<b>    اکنون از روی جمله بخوان
    <br>

    <br>
    <a href="{% url 'third_step_page_three' %}">
        تمرین بعدی
    </a>
 <script>
           const draggableItem = document.getElementById('draggable-item');
           const dropArea = document.getElementById('drop-area');

           draggableItem.addEventListener('dragstart', (event) => {
               event.dataTransfer.setData('text/plain', event.target.id);
           });

           dropArea.addEventListener('dragover', (event) => {
               event.preventDefault();
           });

           dropArea.addEventListener('drop', (event) => {
               event.preventDefault();
               const data = event.dataTransfer.getData('text/plain');
               const droppedItem = document.getElementById(data);
               dropArea.appendChild(droppedItem);
           });
       </script>
</body>
</html>