<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body
 style="
 position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color:#ADD8E6;

        "
>


 {{ post.subject }} + {{ post.verb_simple_second_step }}
 {باگ داره تکمیل نیس}
 مراجعه کننده باید پنج جمله شامل فاعل و فعل مثال بزند
<br><br>
نقش فاعل و فعل را مشخص کند
<br><br>
جمله را بخواند
<br><br>
جمله را بنویسد
<br><br>
<br><br>
<a href="{% url 'third_step_page_five' %}">
ارایه مثال های معنایی جدید
</a>
</body>
</html>