<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body

        style="
 position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color:#ADD8E6;
        "
>
{% if photo %}
    <p>
        <img src="{{ photo.image.url }}" alt="Photo" style="max-width: 400px;">
    </p>
    <form action="{% url 'delete_photo_third_step_page_fourth_mafool' %}" method="post">
        {% csrf_token %}
        <button type="submit">حذف عکس</button>
    </form>
{% else %}
    <p>عکسی وجود ندارد.</p>
    <form action="{% url 'restore_photo_third_step_page_fourth_mafool' %}" method="post">
        {% csrf_token %}
        <button type="submit">بازگردانی عکس</button>
    </form>
{% endif %}


{% if post %}
    <b>
        <p>جمله ای وجود ندارد</p>
    </b>
    <form action="{% url 'restore_post_third_step_page_fourth_mafool' %}" method="post">
        {% csrf_token %}
        <button type="submit">بازگردانی جمله</button>
    </form>
{% else %}

    <b>
        <p> {{ post.subject }} {{ post.text_mafool }} {{ post.verb_simple_second_step }}</p>
        مادر ، کودک را می بوسد
    </b>
    <form action="{% url 'delete_post_third_step_page_fourth_mafool' %}" method="post">
        {% csrf_token %}

        <b>
            <button type="submit">حذف جمله</button>
        </b>
    </form>

{% endif %}

<br>
<b>
تمرین : جمله را بخواند و بنویسد
    </b>
<br><br><br>
<input type="text">
<br>
<br><br>
<div>
    <a href="{% url 'mafool_fifth_page' %}">
        <b>
            ارایه مثال های معنایی بیشتر
        </b>
    </a>
</div>
</body>
</html>